.body {
  width: 100%;
  font-family: "PT Sans";
  font-size: 18px;
  background-color: #111111;
}
.tiles {
  padding: 6vh 16vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.img,
.images {
  background: black;
  object-fit: scale-down;
}
